@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  font-family: "Noto Sans KR", sans-serif;
}

/*노말라이즈*/
body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

/*라이브러리*/

.con {
  margin-left: auto;
  margin-right: auto;
}

.cell {
  float: left;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.img-box > img {
  display: block;
  width: 100%;
}
/*커스텀*/
html,
body {
  overflow-x: hidden;
}
.con {
  max-width: 1000px;
}
.logo-bar {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.bn-box {
  margin-bottom: 20px;
  margin-top: 20px;
}
@media (max-width: 700px) {
  .top-bn-box-1 {
    overflow-x: hidden;
  }

  .top-bn-box-1 > .img-box {
    margin-left: -50%;
  }
}

.menu-box {
  margin-bottom: 20px;
  margin-top: 20px;
}
.menu-box > ul > li {
  width: calc(100% / 7);
}
@media (max-width: 800px) {
  .menu-box {
    display: none;
  }
}

.menu-box > ul > li > a {
  display: block;
  text-align: center;
  font-weight: bold;
  position: relative;
}
.menu-box > ul > li:hover > a {
  color: red;
  text-decoration: underline;
}
.menu-box > ul > li > a::before,
.menu-box > ul > li > a::after {
  content: "";
  width: 1px;
  height: 13px;
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: 0;
}
.menu-box > ul > li > a::after {
  left: auto;
  right: 0;
}
.menu-box > ul > li:first-child > a::before,
.menu-box > ul > li:last-child > a::after {
  width: 2px;
}
.list > ul > li {
  width: calc(100% / 6);
}

.list > ul > li {
  padding: 0 10px;
}
.list > ul {
  margin: 0 -10px;
}

.list > ul > li > .product-name {
  text-align: Center;
  font-weight: bold;
}
.list > ul > li:hover > .product-name {
  text-decoration: underline;
}
.list > ul > li > .product-price {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
.list > ul > li > .product-price::after {
  content: "원";
  font-size: 1rem;
  font-weight: normal;
}

@media (max-width: 800px) {
  .list > ul > li {
    width: calc(100% / 5);
  }
}

@media (max-width: 650px) {
  .list > ul > li {
    width: calc(100% / 4);
  }
}

@media (max-width: 500px) {
  .list > ul > li {
    width: calc(100% / 3);
  }
}

@media (max-width: 400px) {
  .list > ul > li {
    width: calc(100% / 2);
  }
}

@media (max-width: 300px) {
  .list > ul > li {
    width: calc(100% / 1);
  }
}
